<style scoped lang="scss">
</style>

<template>
  <div class="bg-white full-height full-width absolute">
    <div class="absolute-center" style="width:65%">
      <div>
        <img />
        <h1>login</h1>
      </div>
      <div>
        <q-form @submit="onSubmit" class="q-gutter-md">
          <q-input
            hint="Ejemplo: usuario@correo.com"
            v-model="mail"
            type="email"
            label="Correo"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ingresa un Correo']"
          ></q-input>

          <q-input
            label="Contraseña"
            v-model="password"
            :type="isPwd ? 'password' : 'text'"
            lazy-rules
            :rules="[
                val => val !== null && val !== '' || 'Por favor Ingresa tu contraseña',
              ]"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <!--
            <div class="row justify-end">
            <div class="col-auto text-subtitle2 text-primary selft-right" style="cursor: pointer;" @click="showDialog()">Olvidé mi contraseña</div>
          </div>
          -->

          <div>
            <q-btn rounded label="Ingresar" type="submit" color="primary"></q-btn>
            <!--<q-btn rounded label="Registrate" type="reset" color="primary" flat class="q-ml-sm"></q-btn>-->
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>

<script>
import { Notify } from "quasar";
export default {
  props: {},
  components: {},
  data() {
    return {
      mail: null,
      accept: false,
      password: "",
      isPwd: true,
      show: false,
    };
  },
  computed: {},
  methods: {
    onSubmit() {
      if (this.password !== null && this.mail != null) {
        console.log("exec petition http");
        this.login();
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: "Algo salio mal intenta de nuevo",
        });
      }
    },

    login() {
      var app = this;
      console.log("exec login", app);
       this.$auth.login({
        data: {
          email: app.mail,
          password: app.password
        },
        
       
        rememberMe: true,
        fetchUser: false
      }).then((response) => {
                  //console.log(result); // "Stuff worked!"
                console.log("what response login", response)
                localStorage.setItem('token',response.data.token)
                this.$axios.post('http://localhost:8000/api/v1/auth/setlog',{
                  accion:'login sucess token recibe >>>'+JSON.stringify( response.data.token )
                })
                  .then((response) => {
                    console.log('localStorage.getItem(token)?', localStorage.getItem('token'))
                  })
                  .catch(() => {
                    this.$q.notify({
                      color: 'negative',
                      position: 'top',
                      message: 'Loading failed',
                      icon: 'report_problem'
                    })
                  });
                  
                this.$axios.post('http://localhost:8000/api/v1/auth/setlog',{
                  accion:'login sucess token localStorage get >>>'+JSON.stringify( localStorage.getItem('token') )
                })
                  .then((response) => {
                    console.log('localStorage.getItem(token)?', localStorage.getItem('token'))
                  })
                  .catch(() => {
                    this.$q.notify({
                      color: 'negative',
                      position: 'top',
                      message: 'Loading failed',
                      icon: 'report_problem'
                    })
                  });
                  //---------
                  app.success = true
                  //------------
                  this.$axios.get('http://localhost:8000/api/v1/auth/user')
                  .then((response) => {
                    console.log("sucess FetchUser:", response)
                    this.$auth.user(response)
                    localStorage.setItem('user', JSON.stringify(response))
                    console.log('localStorage.getItem(user)?', localStorage.getItem('user'))
                    console.log('this.$auth.user()', this.$auth.user())
                    if(this.$auth.user && localStorage.getItem('user')){
                      console.log('ifRedirect')
                      this.$router.push('/')
                    }
                  })
                  .catch(() => {
                    this.$q.notify({
                      color: 'negative',
                      position: 'top',
                      message: 'Loading failed',
                      icon: 'report_problem'
                    })
                  });
           }).catch(() => {
            //console.log(err); // Error: "It broke"
              app.has_error = true
                  this.$q.notify({
                  icon: 'error',                         
                  message: 'correo o contraseña incorrecto',
                  color: 'negative',
                  position: 'center',                           
                  actions: [{ icon: 'close', color: 'white' }]
                })
           })
    },
  },
  created() {},
  mounted() {},
};
</script>

