<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
    <div class="q-pa-md q-gutter-sm">
    <q-btn @click="pulsar()" color="white" text-color="black" label="Standard" />
    </div>
    {{this.val}}
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',

  data(){
    return{
        val:2
    }
  },
  
  methods:{
    pulsar(){
      this.val = 5
      console.log(this.val)
      this.$axios.get('http://localhost:8000/api/v1/home')
      .then((response) => {
        //this.data = response.data
        console.log(response)
      })
      .catch(() => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem'
        })
      })
    }
  }
}
</script>
