<style lang="scss" scoped>
img{
  width: 100%;
  height: 100%;
}
</style>

<template>
  <q-layout>
    <q-page-container class="row items-center ">
      <div class="col-xs-12 col-md-6 window-height "  v-if="$q.platform.is.desktop">
        <img src="statics/crines_rojo.jpg">
        <h5>logo</h5>
      </div>
      <q-page class="col-xs-12 col-md-6 window-height">
        <router-view></router-view>
      </q-page>
    </q-page-container>
    <!-- </q-page>  -->
  </q-layout>
</template>

<script>
export default {
data(){
  return{
  }
}
}
</script>
